/* ********************************************* */
/* Class - Coding Bootcamp MW                    */
/* Assignment #5 - Trivia Game                   */
/* Author: Rod Skoglund                          */
/* Stype Sheet for of Assignment #5              */
/* ********************************************* */

body, html {
    color: #ffffff;
    background-image: url("../images/trivia-background.png");
    background-position: center;
    background-size: cover;
}

p {
    padding: 10px;
}

#game {
    background-color: #f7f777;
    border-style: solid;
    border-width: 3px;
    border-color: blue;
    color: black;
    margin: 0 auto;
    width: 80%;
    min-height: 250px;
}

#title-block {
    color: blue;
    padding: 20px 0;
    text-align: center;
    display: block;
    font-size: 6vw;
}

#question {
    color: green;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    display: block;
    font-size: 3vw;
    margin: 20px;
}

#answers {
    color: darkslateblue;
    padding: 5px;
    text-align: center;
    display: block;
    font-size: 3vw;
    margin: 10px 10px 20px 10px;
}

#timer {
    padding-top: 10px;
    text-align: center;
    font-size: 3vw;
    margin: 10px;
}

.empty-button {
    width: 70%;
    height: 20%;
    border-style: none;
    font-size: 3vw;
    color: darkslateblue;
    background-color: #f7f777;
}

.empty-button:hover {
    background-color: pink;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
}

.start-button {
    color: darkslateblue;
    padding: 5px;
    text-align: center;
    display: block;
    font-size: 3vw;
    margin: 0 0 0 25%;
    width: 50%;
    height: 20%;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    background-color: peachpuff;
}

.startover-button {
    width: 50%;
    height: 20%;
    border-style: none;
    font-size: 2vw;
    color: black;
    background-color: #f7f777;
    margin: 2% 0 2% 0;
}

.startover-button:hover {
    background-color: peachpuff;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    color: black;
}

#answer-result {
    color: blue;
    padding: 20px 0;
    text-align: center;
    display: block;
    font-size: 3vw;
}

#incorrect-ans {
    color: blue;
    padding: 20px 0;
    text-align: center;
    display: block;
    font-size: 2vw;
}

#ansResult-active, #results-active {
    text-align: center;
    margin: 2% 0 2% 0;
    font-size: 2vw;
}